<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sferadev.dummylauncher"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />
   
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.sferadev.dummylauncher.LauncherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.sferadev.dummylauncher.AplicationAdapter"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.sferadev.dummylauncher.AppLauncher"
            android:label="@string/app_name"
            android:alwaysRetainTaskState="true" >
        </activity>
        <activity
            android:name="org.sferadev.dummylauncher.AboutActivity"
            android:label="Dummy Launcher"
            android:parentActivityName="org.sferadev.dummylauncher.LauncherActivity"
            android:theme="@android:style/Theme.Holo.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.sferadev.dummylauncher.LauncherActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
        </activity>
        <activity android:name="onXDA"></activity>
        <activity android:name="onGithub"></activity>
        <activity android:name="onPaypal"></activity>
        <activity android:name="onResetHome"></activity>
    </application>

</manifest>